<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MINESWEEPER</title>
	<link rel="stylesheet" href="/static/solo/styles.css"/>
	<script src="https://unpkg.com/react@latest/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.js"
			integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			crossorigin="anonymous"></script>
	
</head>
<body style="background-color:dodgerBlue;">
	<div class="centerDiv">
	<div id="root"></div>
	<script src="/static/solo/gameScript.js" type="text/babel"/>
	</div>
	
</body>
</html>
